data/*.tsv
.ideaa
*.bak
*.dat
*.swp
*.aux
*.bbl
*.tsv
data/processed/
data/2process/
figures/participants/
OldVersions/
abstracts/
*.pdf
.ipynb_checkpoints/
notebook/.ipynb_checkpoints/
notebook/.idea/
notebook/test/
