data/*.tsv
.idea
*.bak
*.dat
*.swp
*.aux
*.bbl
*.tsv
LCOL_50_ToR.doc
data/dineof/
data/numParticipant_git.csv
data/processed/
data/2process/
figures/participants/
OldVersions/
abstracts/
*.pdf
.ipynb_checkpoints/
notebook/.ipynb_checkpoints/
notebook/.idea/
notebook/test/
notebook/test
ctroupin_Abstract_CLQ.odt
data/topicsWordle.js
data/topicsWordle.json
data/topicsWordle2.js
logos/
test_curves.tex
